/*
 Theme Name:           volt24-20ct
 Theme URI:            http://volt24.se/
 Description:          A child theme of Twenty Twenty WordPress theme.
 Author:               Karl Lettenström
 Author URI:           https://kprl.se
 Template:             twentytwenty
 Version:              1.0.1
 License:              GNU General Public License v2 or later
 License URI:          http://www.gnu.org/licenses/gpl-2.0.html
*/

@import "partials/variables";

#site-header {
	background-color: $color-volt24-opa-white !important;
	a, .search-toggle, .nav-toggle {
		color: $color-volt24-dark;
		&:hover {
			color: $color-volt24-complement !important;
		}
	}
}

.home {
	.entry-title {
		display: none;
	}
}

#site-content {
	a {
		color: $color-volt24-darker !important;
		&:hover {
			color: $color-volt24-complement !important;
		}
	}

	.to-the-content-wrapper {
		filter: drop-shadow( 0px 0px 2px rgba(0, 0, 0, .7));
	}

	.kprl-staffing .card .card-body .card-text p {
		font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
	}

	.carousel {
		&.alignleft, &.alignright {
			@media (max-width: $tablet-large) {
				max-width: 100%;
			}
		}
	}
}
