@charset "UTF-8";
/*
 Theme Name:           volt24-20ct
 Theme URI:            http://volt24.se/
 Description:          A child theme of Twenty Twenty WordPress theme.
 Author:               Karl Lettenström
 Author URI:           https://kprl.se
 Template:             twentytwenty
 Version:              1.0.1
 License:              GNU General Public License v2 or later
 License URI:          http://www.gnu.org/licenses/gpl-2.0.html
*/
#site-header { 
  background-color: rgba(255, 255, 255, 0.8) !important;
}

#site-header a, #site-header .search-toggle, #site-header .nav-toggle {
  color: #2b303b;
}

#site-header a:hover, #site-header .search-toggle:hover, #site-header .nav-toggle:hover {
  color: #fdc533 !important;
}

.home .entry-title {
  display: none;
}

#site-content a {
  color: #181818 !important;
}

#site-content a:hover {
  color: #fdc533 !important;
}

#site-content .to-the-content-wrapper {
  -webkit-filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.7));
}

#site-content .kprl-staffing .card .card-body .card-text p {
  font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
}

@media (max-width: 768px) {
  #site-content .carousel.alignleft, #site-content .carousel.alignright {
    max-width: 100%;
  }
}
